/* navbar.module.css */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 70px; /* Increased the gap to space out the buttons */
  }
  
  .navItem {
    margin: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
    margin-right: 50px;
  }
  
  .navLink:hover {
    color: #00a8cc;
  }